# Core packages
numpy
requests
opencv-python
Pillow
pillow-jxl-plugin

# Game and GUI
pygame
PyQt5

# PyInstaller and Windows-specific support (only on Windows)
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes>=0.2.0 ; sys_platform == "win32"

# Dev/linting tools
astroid
isort
pytest
pytest-qt
